services:
  - type: web
    name: school-management-system
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python db_init.py && gunicorn "app:create_app()"
    envVars:
      - key: FLASK_ENV
        value: production
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: school-db
          property: connectionString

databases:
  - name: school-db
    plan: free
